.mainFilter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/
    padding: 0 10px 10px;
    cursor: default;
    color: #777;
    font-size: 14px;
}

.leftItems {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
}

.filterButtons {
    display: flex;
    order: 2;
    margin: 10px auto 0;
}

.filterBtn {
    width: 42%;
    display: flex;
    justify-content: center;
    margin: 3px;
    border: none;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    outline: none;
    color: #777;
    padding: 3px 7px;
}

.filterBtnOnHover:hover {
    border-color: rgba(175, 47, 47, 0.2);
}

.select {
    border-color: rgba(175, 47, 47, 1);
}

.clear {
    width: 35%;
    order: 1;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.hideClearCompleted {
    visibility: hidden;
}

.showClearCompleted {
    visibility: visible;
    cursor: pointer;
}

.clearCompleted:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 503px) {
    .mainFilter {
        align-items: center;
    }

    .leftItems {
        width: 28%;
    }

    .filterButtons {
        display: flex;
        order: 0;
        margin: 0;
    }

    .clear {
        width: 30%;
        order: 0;
    }
}